*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #FEAE03   ;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

#carousel {
    position: relative;
  }
  
  #carousel .carousel-inner img {
    max-height: 100vh;
  }
  
  #carousel img {
    filter: grayscale(70%);
  }
  
  #carousel .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  #carousel .overlay .container,
  #carousel .overlay .row {
    height: 100%;
  }
  




