@import "reboot";
@import "spacing";
@import "text";

h1 {
   font-size: 30px;
}

.form-signin{
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: auto;
   background-color: rgba(0, 0, 0,0.2);
   border-radius: 10px;
   a{
      color:whitesmoke;
   }
}

.h3{
   font-size: 1.75rem;
}

body{
   display: flex;
   background-color: #FEAE03;
   align-items: center;
   padding-top: 40px;
   padding-bottom: 40px;
}

.form-register{
   width: 100%;
   max-width: 330px;
   padding: 15px;
   margin: auto;
   background-color: antiquewhite;
   background-color: rgba(0, 0, 0,0.2);
   border-radius: 10px;
}